body {
    
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", 
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    background-color: #f0f0f0;
}

header {
    background-color: #4686b2;
    color: white;
    padding: 10px 0;
    text-align: center;
}

main {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}

h1, h2 {
    text-transform: uppercase;
}

h2 {
    border-bottom-style: solid;
    border-color: lightgrey;
    padding: 1.5rem 0;
}

input {
    width: 45rem;
    padding: 0.75rem;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
}

button {
    background-color: #c81a1a;
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    font-weight: bold;
}

button:hover {
    background-color: #ff2c44;
}